*{
    margin: 0;
    padding: 0;
    font-family: sans-serif !important;
    --bs-gutter-x: 0px !important;
    
}
                    /* background image */
body{
    color: black !important;
    background-color: white;
}
body a{
    color: white;
    text-decoration: none;
}


.banner-bg{
    background:linear-gradient(rgba(34, 166, 179,0.3),rgba(34, 166, 179,0.4)), url("../images/top-bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100vw;
    height: 100%;
}


                    /* top navbar */

.navbar{
    max-width: 100vw !important;
}

                    /* logo */

.logo{
    width: 100px;
}
.logo img{
    width: 400px;
    margin-left: 30px;

}
.form-top{
    position:absolute;
    right: 50px;
    top: 30px;
}


                        /* top login and pricing button */


.btn-login{
    margin-left: 0px !important;
    color: #fff;
    width: 150px !important;
    background: #3dd9b1;
    width: 120px !important;
    height: 45px;
    border-radius: 30px;
    border: none;
    text-align: center;
    cursor: pointer;
}
.btn-login:hover{
    background-color: transparent;
    border: 1px solid #0c2e60;
    color: #0c2e60;
}
.header{
    height: 15vh;
}




                            /* main area */


.main-area{
    margin-top: 100px;
}


                    /* orignal phrase area top text */

.orignal-text{
    width: 100%;
    border: 1px solid #0c2e60;
    background-color: #0c2e60;
    border-radius: 10px;
    color: white;
    text-align: center;
    margin-bottom: -13px;
    z-index: 100;
    position: relative;
    margin-top: -15px !important;
}

#text-area-orignal{
    border: 1px solid rgba(99, 110, 114, 0.4);
    border-radius: 10px;
    margin-left: 50px !important;
    height: 60vh !important;
    background-color: rgba(45, 52, 54,0.6);
    outline: none;
    width: 55vw;
    color: white;

}
#text-area-orignal:hover{
    box-shadow: 2px 2px #0c2e60;
    outline: none;
}
.text-starter{
    margin: 20px;
    font-family: sans-serif;
    margin-top: 40px;
}

.radio-btn{
    margin-top: 20px;
    text-align: end;
    color: #3dd9b1;
    cursor: pointer;
}


input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    cursor: pointer;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #3dd9b1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}





                            /* new phrase area top text */



#text-area-new{
    border: 1px solid rgba(99, 110, 114, 0.4);
    border-radius: 10px;
    height: 60vh !important;
    background-color: rgba(45, 52, 54,0.6);
    outline: none;
    width: 30vw;
    color: white;

}
#text-area-new:hover{
    box-shadow: 2px 2px #0c2e60;
    outline: none;
}
.text-starter-p{
    margin: 20px;
    margin-top: 40px;
    font-family: sans-serif;
}




.Paraphrased-text{
    width: 100%;
    border: 1px solid #0c2e60;
    background-color: #0c2e60;
    border-radius: 10px;
    color: white;
    text-align: center;
    margin-bottom: -13px;
    z-index: 100;
    position: relative;
    margin-top: -15px !important;
}
.paraphrase-now-btn{
    margin-top: 15px !important;
    text-align: center;
    margin-left: 38%;
    padding: 10px 70px;
    font-size: 20px;
    background-color: #3dd9b1;
    color: white;
    font-weight: 300;
    border: 1px solid #3dd9b1;
    border-radius: 50px;
    margin-bottom: 50px;
}
.paraphrase-now-btn:hover{
    background-color: transparent;
    color:  #3dd9b1;

}


                                /* features Text*/

.feature-top-bg{
    margin-top: 100px;
    z-index: -1;
    width: 100vw;
}
.feature-bottom-bg{
    margin-top: -148px;
    z-index: -1;
    width: 100vw;
}

.features-bg{
    background-color: #E7717D;
}                                
.feature-area-1{
    margin-left: 25px;
    width: 20%;
    height: 100px !important;
}
.feature-area-1 h2{
    color: #0c2e60;
}
.feature-area-1 p{
    font-size: 15px;
    text-align: start;
}

.feature-icon img{
    width: 50px;
    padding-top: 50px;
    padding-bottom: 40px;
}

.feature-area-2{
    width: 25%;
    text-align: center;
    border: 1px solid #3dd9b1;
    height: 350px;
}
.feature-area-2 h2{
    font-size: 20px;
    font-weight: 700;
    color: #0c2e60;
}
.feature-area-2 p{
    padding: 5px !important;
    font-size: 15px;
}
.feature-area-2:hover {
    border: 1px solid #0c2e60 !important;
    box-shadow: 5px 5px 5px 5px rgba(178, 190, 195,0.4);
}


.feature-area-3{
    width: 25%;
    text-align: center;
    border: 1px solid  #3dd9b1;
    height: 350px;
}

.feature-area-3 h2{
    font-size: 20px;
    font-weight: 700;
    color: #0c2e60;
}
.feature-area-3 p{
    padding: 5px !important;
    font-size: 15px;
}
.feature-area-3:hover{
    border: 1px solid #0c2e60 !important;
    box-shadow: 5px 5px 5px 5px rgba(178, 190, 195,0.4);
}



.feature-area-4{
    width: 25%;
    text-align: center;
    border: 1px solid  #3dd9b1;
    height: 350px;
}

.feature-area-4 h2{
    font-size: 20px;
    font-weight: 700;
    color: #0c2e60;
}
.feature-area-4 p{
    padding: 5px !important;
    font-size: 15px;
}
.feature-area-4:hover{
    border: 1px solid #0c2e60 !important;
    box-shadow: 5px 5px 5px 5px rgba(178, 190, 195,0.4);
}


                /* about us section */




.about-us{
    margin-top: 100px;
    margin-left: 30px;
}
.about-us img{
    margin-top: 100px;
    border: 1px solid transparent;
    border-radius: 10%;
    width: auto;
    height: 300px;
}
.about-us h2{
    color: #0c2e60;
    font-weight: 800 !important;
    margin-top: 30px;
    margin-bottom: 50px;
    word-spacing: 2px;
    font-size: 40px;
}
.about-us p{
    word-spacing: 5px !important;
    color: black;
}
.about-us li{
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    color: black;
}

.about-us-text::before{
    display: inline-block;
    content: "";
    border-top: 2px solid #3dd9b1;
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(15pxrem);
}
.about-us-text{
    font-weight: 900 !important;
    color: black;
}



                    /* features */




.features{
    margin-top: 100px;
    margin-left: 30px;
}
.features img{
    border: 1px solid #0c2e60 !important;
    margin-top: 100px;
    border: 1px solid transparent;
    border-radius: 10%;
    width: auto;
    margin-left: 100px;
    height: 300px;
}
.features h2{
    color: #0c2e60;
    font-weight: 800 !important;
    margin-top: 30px;
    margin-bottom: 50px;
    word-spacing: 2px;
    font-size: 40px;
}
.features p{
    word-spacing: 5px !important;
    color: black;
}
.features li{
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    color: black;
}

.features-text::before{
    display: inline-block;
    content: "";
    border-top: 2px solid #3dd9b1;
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(15pxrem);
}
.features-text{
    font-weight: 900 !important;
    color: black;
}

.language-sec {
    margin-top: 100px !important;
}
.language-sec h5{
    color: #0c2e60;
    font-weight: bold;
}



                            /* footer */



.footer-bg{
    background-color: rgba(128, 128, 128,0.6);
    width: 100% !important;
    background-size: cover;
    background-position: center;
    --bs-gutter-x: 0rem !important;
    height: 100% !important;
}
.footer-bg h2{
    margin-top: 50px;
    font-weight: 700;
}
ul > li{
    list-style-type:square;
    margin-left: 10px;
}
.hire-us{
    color: #0c2e60;
    font-size: 25px;
    margin-left: 30px;
}
.hire-us-p{
    margin-left: 30px;
}
.newsletter{
    color: #0c2e60;
    font-size: 25px;

}
.contactus{
    color: #0c2e60;
    font-size: 25px;
}
.email{
    color: white;
    font-size: 12px;
    margin-bottom: 100px;
}
.email-header{
    color: #0c2e60;
    font-size: 20px;
}
.email a{
    color: white;
    font-size: 18px;
}





.footer-bg-bottom{
    background-color: black;
}
.footer-text{
    padding: 20px;
    color: white;
    text-align: center;
}




















                        /* mobile view */


@media only screen and (max-width: 650px) {
    *{
        text-align: center;
    }
    #logo a{
        color: #0c2e60;
        font-family: Poppins,sans-serif;
        font-size: 26px;
        margin-left: 50px !important;
        font-weight: bold;
        margin-top: 5px;
    }
    .main-area{
        margin-top: 100px;
    }
    .orignal-text{
        width: 100px;
        border: 1px solid #0c2e60;
        background-color: #0c2e60;
        border-radius: 10px;
        color: white;
        text-align: center;
        margin-bottom: -13px;
        z-index: 100;
        position: relative;
        margin-left: 20px;
        margin-top: -15px !important;
    }
    
    #text-area-orignal{
        border: 1px solid rgba(99, 110, 114, 0.4);
        border-radius: 10px;
        height: 30vh !important;
        background-color: white;
        outline: none;
        color: black;
        width: 90% !important;
        position: absolute;
        left: 0 !important;
        margin-left: 30px !important;
    
    }
    #text-area-orignal:hover{
        box-shadow: 2px 2px #0c2e60;
        outline: none;
    }
    .text-starter{
        margin-top: 30px !important;
        font-family: sans-serif;
        margin-left: -180px !important;
    }

    #text-area-new{
        border: 1px solid rgba(99, 110, 114, 0.4);
        border-radius: 10px;
        height: 30vh !important;
        background-color: white;
        color: black;
        outline: none;
        width: 90% !important;
        margin-top: 300px !important;
        margin-left: 30px !important;

    }
    #text-area-new:hover{
        box-shadow: 2px 2px #0c2e60;
        outline: none;
    }
    .text-starter-p{
        margin: 20px;
        margin-top: 40px;
        font-family: sans-serif;
    }
    .Paraphrased-text{
        width: 150px;
        border: 1px solid #0c2e60;
        background-color: #0c2e60;
        border-radius: 10px;
        color: white;
        text-align: center;
        margin-bottom: -13px;
        z-index: 100;
        position: relative;
        margin-left: 20px;
        margin-top: -15px !important;
    }
    .paraphrase-now-btn{
        margin-top: 50px !important;
        text-align: center;
        margin-left: 40px!important;
        padding: 10px !important;
        font-size: 20px !important;
        width: 200px !important;
        background-color: #3dd9b1;
        color: white;
        font-weight: 300;
        border: 1px solid #3dd9b1;
        border-radius: 50px;
    }
    .paraphrase-now-btn:hover{
        color: white;
    }

                                    /* features Text*/



    .feature-area-1{
        height: 150px !important;
        width: 90vw;
        margin-left: 30px;
    }
    .feature-area-1 h2{
        color: #0c2e60;
    }
    .feature-area-1 p{
        font-size: 15px;
    }


    .feature-area-2{
        margin-top: 50px;
        text-align: center;
        border: 1px solid rgba(178, 190, 195,0.4);
        height: 300px;
        width: 80vw;
        margin-left: 45px;
        padding-top: 10px;
    }
    .feature-area-2 h2{
        font-size: 20px;
        font-weight: 700;
        color: #0c2e60;
    }
    .feature-area-2 p{
        font-size: 15px;
    }
    .feature-area-2:hover{
        border: 1px solid #3dd9b1 !important;
    }


    .feature-area-3{
        margin-top: 50px;
        text-align: center;
        border: 1px solid rgba(178, 190, 195,0.4);
        height: 300px;
        width: 80vw;
        margin-left: 45px !important;
        padding-top: 10px;
    }

    .feature-area-3 h2{
        font-size: 20px;
        font-weight: 700;
        color: #0c2e60;
    }
    .feature-area-3 p{
        font-size: 15px;
    }
    .feature-area-3:hover{
        border: 1px solid #3dd9b1 !important;
    }



    .feature-area-4{
        margin-top: 50px;
        text-align: center;
        border: 1px solid rgba(178, 190, 195,0.4);
        height: 300px;
        width: 80vw;
        margin-left: 45px;
        padding-top: 10px;
    }

    .feature-area-4 h2{
        font-size: 20px;
        font-weight: 700;
        color: #0c2e60;
    }
    .feature-area-4 p{
        font-size: 15px;
    }
    .feature-area-4:hover{
        border: 1px solid #3dd9b1 !important;
    }    

    


                /* about us */

    .about-us{
        max-width: 80vw;
        margin-left: 50px;
    }
    .about-us img{
        margin-top: 0px !important;
        border: 1px solid transparent;
        border-radius: 10%;
        height: 200px;
        margin-left: -20px;
    }
    .about-us h2{
        color: #0c2e60;
        font-weight: 800 !important;
        margin-top: 30px;
        margin-bottom: 50px;
        word-spacing: 0px !important;
        font-size: 25px;
    }
    .about-us p{
        word-spacing: 0px !important;
        color: black;
    }
    .about-us li{
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        color: white;
    }
    
    .about-us-text::before{
        display: inline-block;
        content: "";
        border-top: 2px solid #3dd9b1;
        width: 2rem;
        margin: 0 1rem;
        transform: translateY(15pxrem);
    }
    .about-us-text{
        font-weight: 400 !important;
        color: black;
    }
    

                    /* features */




    .features{
        
        max-width: 80vw;
        margin-left: 50px;
        margin-bottom: 100px;
    
    }
    .features img{
        margin-top: 50px !important;
        border: 1px solid transparent;
        border-radius: 10%;
        height: 200px;
        margin-left: -25px !important;
    }
    .features h2{
        color: #0c2e60;
        font-weight: 800 !important;
        margin-top: 30px;
        margin-bottom: 50px;
        word-spacing: 0px !important;
        font-size: 25px;
    }
    .features p{
        word-spacing: 0px !important;
        color: black;
    }
    ul > li{
        color: black !important;
    }

    .features-text::before{
        display: inline-block;
        content: "";
        border-top: 2px solid #3dd9b1;
        width: 2rem;
        margin: 0 1rem;
        transform: translateY(15pxrem);
    }
    .features-text{
        margin-top: 1000px !important;
        font-weight: 400 !important;
        color: black;
    }

}